@{
    ViewBag.Title = "Confirmation Email Sent";
}

<div class="row">
    <hr>
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            You must activate your account by clicking the activation link in the  email that is sent to you. 
            If you have not received an email you can @Html.ActionLink("have one sent", "resendconfirmemail").
        </p>
    </div>
</div>

<div class="row">
    <hr>
</div>