@model TheatreProject.Helpers.IPaginator

<div class="row">
    <div class="col-sm-6">
        @if (Model.HasPreviousPage)
        {
            @:&laquo;  
            if (Model.PreviousPageNumber == 0)
            {
                @Html.ActionLink("Previous", null)
            }
        }
    </div>

    <div class="col-sm-6 text-right">
        @if (Model.HasNextPage) { 
            @Html.ActionLink("Next", null, new { page = Model.NextPageNumber }) 
            @:&raquo;
        }
    </div>
</div>

<br>
