@model TheatreProject.Models.Post

@{
    ViewBag.Title = "Details";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; 
    @Html.ActionLink(Model.Category.Name, "category", new { id=Model.CategoryId }) &raquo; 
    @Model.Title
}

<div class="row">
    <hr />

    @Html.DisplayForModel()
</div>