@model IEnumerable<TheatreProject.Models.Post>
@{
    ViewBag.Title = "Blog";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    @Html.DisplayForModel()
</div>