@model TheatreProject.Helpers.Paginator<TheatreProject.Models.Post>
@{
    ViewBag.Title = "Blog";
    ViewBag.ShowBottomLink = Model.IsPaginated;
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Title
}

@if (Model.Items.Any())
{
    @Html.DisplayFor(m => m.Items)

    @Html.DisplayFor(m => m, "Paginator")
}
else
{
    <p><em>Sorry - there are no posts to display.</em></p>
}