@model TheatreProject.Helpers.Paginator<TheatreProject.Models.Post>
@{
    ViewBag.Title = "Blog";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Title
}

<div class="row">
    <hr>

    @Html.DisplayFor(m => m.Items)

    @Html.DisplayFor(m => m, "Paginator")
</div>