@{
    ViewBag.Title = "Contact Us";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @ViewBag.Title
}

<div class="row">
    <hr />

    <h2>@ViewBag.Title.</h2>

    <p>If you have any questions or thoughts, don't hesitate to contact us!</p>

    <address>
        Local Theatre Company<br>
        123 Main Street<br>
        Glasgow<br>
        Scotland<br>
        G12 4DR<br><br>
        <strong>Telephone:</strong> 0141 123 1234
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:support@localtheatrecompany.com">support@localtheatrecompany.com</a><br>
        <strong>Marketing:</strong> <a href="mailto:marketing@localtheatrecompany.com">marketing@localtheatrecompany.com</a>
    </address>
</div>

<div class="row">
    <hr>
</div>
