
@{
    ViewBag.Title = "Delete Error";
}

@section breadcrumb {
    @Html.ActionLink("Home", "index", "home") &raquo; @Html.ActionLink("Manage Users", "index", "users") &raquo; Delete
}

<div class="row">
    <hr />

    <h2>@ViewBag.Title</h2>

    <p>Sorry - you cannot delete your own user account</p>
</div>